/RTE
/Listings
/Objects
/Debug
/build
/rtconfig.pyc
/rt-thread
/libraries
/project.custom_argvars
/.vscode
/__pycache
/settings
/bsp_linker_info.h
/fsp_gen.ld
/memory_regions.ld
/cmake
/.api_xml
/.clangd
/.secure_azone
/.secure_rzone
/.secure_xml
/ra_cfg.txt
/packages/pkgs.json
/packages/pkgs_error.json